/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@font-face {
    font-family: 'poppins';
    src: url(./fonts/Poppins-Medium.ttf);
}

:root{
    --bg1: #C33764;
    --bg2: -webkit-linear-gradient(to right, #1D2671, #C33764);
    --bg3: linear-gradient(to right, #1D2671, #C33764); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #09090c;
    color: white;
}
body h1{
    font-size: 30px;
}

header{
    width: 100%;
    /* background-color: rgba(70, 67, 67, 0.466); */
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(85, 85, 194); */
    margin: auto;
    max-width: 1000px;
    /* width: 100%; */
    padding: 1.5vw 24px;

}

.nav-left{
    font-size: 20px;
}

.nav-left #element{
    background: var(--bg1);
background: var(--bg2);
background: var(--bg3);
 -webkit-background-clip: text;
 background-clip: text;
 color: transparent;
}


.nav-right{
    display: flex;
    align-items: center;
    /* gap: 1vw; */
    position: relative;
    /* border: 1px solid white; */
    /* border-radius: 8px; */
    height: 40px;

}
.nav-right a{
    text-decoration: none;
    color: white;
    padding: 0px 30px;
    /* background-color: blue;
    border:1px solid #09090c; */
    z-index: 1;
}

.nav-right span{
    position: absolute;
    /* background-color: aqua; */
    background:var(--bg1);
    background: var(--bg2);
    background: var(--bg3);
    
    
    

    top:0px;
    left: 0px;
    width: 110px;
    height: 100%;
    border-radius: 10px;
    transition: all ease 0.6s;
}
.nav-right a:nth-child(1):hover~span{
    
    left:0px ;
}
.nav-right a:nth-child(2):hover~span{
    
    left:107px ;
    width: 130px;
}

.nav-right a:nth-child(3):hover~span{
    left: 240px;
    width: 115px;
}


.nav-right a:nth-child(4):hover~span{
   left: 367px;
   width: 135px;
}




